body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(../images/nagarbus.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: darkturquoise;
}

.login-container input,
.login-container button {
    width: 95%;
    padding: 10px;
    margin: 10px 0;

    border: 1px solid #ddd;
    border-radius: 5px;
}


.login-container button {
    background: #0252a6;
    color: white;
    border: none;
    cursor: pointer;
}

.login-container button:hover {
    background: #0056b3;
}
